# ==============================================================
# -------------------- DOCKER IGNORE ---------------------------
# ==============================================================

# Pastas de ambiente e compilados Python
env/
venv/
__pycache__/

# Modelo treinado (IA)
#fine_tuned_classifier/

# Logs e resultados do treino
results/

# Configuracao local
.env

# vscode extension
tempCodeRunnerFile.py